
    

    
.link
    background-color: red
    padding: 10px 13px
    margin-left: 2px
    text-decoration: none
    border-radius: 10px
    color: #fff
    box-sizing: border-box

.link:hover
    border-bottom: 1px solid #fff

.link:active
    border: 1px solid #fff


@media (min-width: 300px) and (max-width: 400px)
    .link
        padding: 6px 7px
