@import '../color';
    
.top-nav
    margin: 0
    background-color: $darkTopNav
    
    color: #fff
    display: flex
    flex-direction: row
    justify-content: space-between
    padding: 1%
    height: 6vh
    align-items: center
    

.nav-button
    
    display: flex
    flex-direction: row
    justify-content: space-around
    align-items: center
    
