.cont-timer
    padding: 150px 0px
    background-color: #191a18
    width: 100%
    
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column

    .cont-add-time,.cont-set-time,.cont-actionBtn
        width: 50%
        display: flex
        justify-content: center
    .timer
    
        width: 50%
        display: flex
        flex-direction: row
        align-items: center
        justify-content: center
        .timer-cell
            padding: 0px 3px
            p
                font-size: 50px
                color: #fff
                margin: 0

    .cont-set-time
        width: 50%