@import '../color';


.top_nav_button
    border-radius: 16px
    background-color: $darkBbutton
    background-color: #f92727
    box-sizing: border-box
    margin: 0 10px
    // box-shadow: 1px 1px 5px $buttonShadow
    margin-top: 5px
    svg
        padding: 10px




.top_nav_button:hover
    border-bottom: 1px solid #fff

.top_nav_button:active
    border: 1px solid #fff

