@import '../color.sass';

.footer
    position: absolute
    bottom: 0vh
    background-color: $darkTopNav
    width: 100%
    // height: 30px
    display: flex
    justify-content: center
    display: flex
    justify-content: center
    height: 3vh
    box-sizing: border-box
    .footer-cont
        width: 50%
        display: flex
        flex-direction: row
        justify-content: space-between
        margin-top: 5px